<div class="post-wrapper">
</div>

{% schema %}
{
    "name":"Blog",
        "settings":[{
            "type":"blog",
            "id":"blogID",
            "label":"Wybierz blog"
        }],
        "presets":[{
        "name":"Blog",
        "category":"Blog"
        }]
}
{% endschema %}