
  {{ 'carousel.scss' | asset_url | stylesheet_tag }}
<div class="slider-wrapper">
    <div class="scroll-left-carousel">
        <svg width="11" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 1L1 9.5L10 18" stroke="black"/>
        </svg>
    </div>
    <div onload="scroller()" class="slider">
        <div class="slider-inner snap-scrolling">
            {% for block in section.blocks %}
                <div class="slide">
                    <img loading="lazy" src="{{ block.settings.carousel-img | img_url:'master' }}">
                    <div class="content-img">
                        <label>{{ block.settings.img-content }}</label>
                        <a href="#">ZOBACZ WIĘCEJ</a>
                    </div>
                </div>
            {%endfor%}
        </div>
    </div>
    <div class="scroll-right-carousel">
        <svg width="11" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 18L10 9.5L1 1" stroke="black"/>
        </svg>
    </div>
</div>
<div class="dots-wrapper">
    {% for block in section.blocks %}
        <div class="slide-dots"></div>
    {% endfor %}
</div>
<script>
    
    const leftCarousel = document.querySelector('.scroll-left-carousel')
    const rightCarousel = document.querySelector('.scroll-right-carousel')
    const itemsCarousel = document.querySelector('.slider-inner')

    let item_scroll_width_carousel= itemsCarousel.scrollWidth
    let item_scroll_left_carousel= itemsCarousel.scrollLeft

    rightCarousel.addEventListener('click', ()=>{
        item_scroll_left_carousel += 1482
        if(item_scroll_left_carousel>=item_scroll_width_carousel)
        {
            item_scroll_left_carousel = item_scroll_width_carousel
        }
        itemsCarousel.scrollLeft = item_scroll_left_carousel;   
    })

    leftCarousel.addEventListener('click', ()=>{
        item_scroll_left_carousel -= 1482
        if(item_scroll_left_carousel<=0){
            item_scroll_left_carousel=0
        }
        itemsCarousel.scrollLeft = item_scroll_left_carousel; 
    })
</script>

{% schema %}
{
    "name":"Slideshow",
    "blocks":[{
        "name":"Slideshow",
        "type":"image",
        "settings":[{
            "type":"image_picker",
            "label":"Wybierz zdjęcie",
            "id":"carousel-img"
        },
        {
            "type":"text",
            "label":"Opis na zdjęcie",
            "id":"img-content"
        }
        ]
    }],
    "presets":[
    {
        "name":"Slider",
        "category":"Slideshow"
    }]
}
{% endschema %}  
{{ 'carousel.js' | asset_url | script_tag }}