<div class="carousel-container">
    <div class="carousel">
        {% for block in section.blocks %}
            <img src="{{ block.settings.carousel-img }}">
        {% endfor %}
    </div>
</div>
{% schema %}
{
    "name":"Zdjęcia do slidera",
    "blocks":[{
        "name":"Dodaj zdjęcie",
        "type":"image",
        "settings":[{
            "type":"image_picker",
            "label":"Wybierz zdjęcie",
            "id":"carousel-img"
        }]
    }]
}
{% endschema %}