<div class="carousel-container">
    <div class="carousel">
        {% for block in section.blocks %}
            <img src="{{ block.settings.carousel-img | image_url: width: 375, height: 520}}">
            <label class="content-img">{{ block.settings.img-content }}</label>
        {% endfor %}
    </div>
</div>
{% schema %}
{
    "name":"Zdjęcia do slidera",
    "blocks":[{
        "name":"Nowe zdjęcie",
        "type":"image",
        "settings":[{
            "type":"image_picker",
            "label":"Wybierz zdjęcie",
            "id":"carousel-img"
        },
        {
            "type":"text",
            "label":"Opis na zdjęcie",
            "id":"img-content"
        }
        ]
    }]
}
{% endschema %}