
  {{ 'carousel.scss' | asset_url | stylesheet_tag }}
<div onload="scroller()" class="slider">

    <div class="slider-inner snap-scrolling">

        {% for block in section.blocks %}

        <div class="slide">
            <img loading="lazy" src="{{ block.settings.carousel-img | img_url:'master' }}">
            <div class="content-img">
                <label>{{ block.settings.img-content }}</label>
                <a href="#">ZOBACZ WIĘCEJ</a>
            </div>
        </div>

        {%endfor%}
        
    </div>
</div>
<div class="dots-wrapper">
    {% for block in section.blocks %}
        <div class="slide-dots"></div>
    {% endfor %}
</div>
{% schema %}
{
    "name":"Slideshow",
    "blocks":[{
        "name":"Slideshow",
        "type":"image",
        "settings":[{
            "type":"image_picker",
            "label":"Wybierz zdjęcie",
            "id":"carousel-img"
        },
        {
            "type":"text",
            "label":"Opis na zdjęcie",
            "id":"img-content"
        }
        ]
    }],
    "presets":[
    {
        "name":"Slider",
        "category":"Slideshow"
    }]
}
{% endschema %}  
{{ 'carousel.js' | asset_url | script_tag }}