<style>
	.images-with-context-wrapper{
  	padding: 40px;
    max-width: 100%;
    min-height: 200px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .images-with-context{
  	margin: 0 30px;
    width: 350px;
    text-align:center;
  }
  .context{
  	width: 350px;
  }
@media all and (max-width: 375px){
 .images-with-context-wrapper{
  	padding: 15px;
    max-width: 100%;
    min-height: 200px;
    display: flex;
   	flex-direction: column;
  }
  .images-with-context{
    width: 200px;
  	margin: 0 15px;
  }
}
</style>
<div class="images-with-context-wrapper">
  {% for block in section.blocks %}
  	<div class="images-with-context">
          <img src="{{block.settings.images | img_url: '300x300'}}">
        <br>
          <label class="context">{{ block.settings.description }}</label>
    </div>
  {% endfor %}
 </div>
{% schema %}
{
    	"name":"Dodaj zdjęcia (max4)",
		"settings": [
    	{
          "type": "text",
          "id": "rows",
          "label": "Ilość wierszy"
    	}
  		],
		"blocks":[
		{
			"type":"image",
			"name":"blok",
			"settings":[
			{
				"type":"image_picker",
				"label":"Dodaj zdjęcie",
				"id":"images"
			},
			{
            	 "type":"text",	
              	 "label":"Opis",
              	 "id":"description"
            }
			]
		}
	]
}
{% endschema %}
