{% for block in section.blocks %}
<div class="images-with-context">
  <img src="{{block.settings.image | img_url: '1800x300'}}">
</div>
{% endfor %}
{% schema %}
  {
    "name": "Dodaj zdjęcie",
    "blocks":[{
      "type":"image",
      "name":"Wybierz",
        "settings": [
        {
          "type":"image_picker",
          "label":"Twoje zdjecie",
          "id": "image"
        }
      ]
    }]
  }
{% endschema %}
