{% for product in section.settings.new-collection.products %}
    <div class="products-wrapper">
        <div class="product-img"> 
            <img src="{{ product.featured_image.src | image_url: width: 300, height: 500}}">
        </div>
        <div class="product-info">
            <label class="product-collection-title">{{ section.settings.new-collection.title }}</label>
            <label class="product-title">{{ product.title }}</label>
            <label class="product-price">{{ product.price | money }}</label>
        </div>
    </div>  
{% endfor %}


{% schema %}
{
"name":"Nowości- kolekcja",
"settings":[{
    "type":"collection",
    "id":"new-collection",
    "label":"Wybierz kolekcje"
}],
"presets":[{
    "name":"Nowości- kolekcja",
    "category":"text"
}]
}
{% endschema %}