<div class="products-wrapper">
    {{ section.settings.new-collection.title }}
    {{ section.settings.new-collection.products_count }}
  {% for product in section.settings.new-collection.products %}
      {{ product.title }}
      <img src="{{ product.featured_image.src | image_url: width: 300, height: 500}}">
  {% endfor %}
</div>
{% schema %}
{
"name":"Nowości- kolekcja",
"settings":[{
    "type":"collection",
    "id":"new-collection",
    "label":"Wybierz kolekcje"
}],
"presets":[{
    "name":"Nowości- kolekcja",
    "category":"text"
}]
}
{% endschema %}