{{ 'newsletter.scss' | asset_url | stylesheet_tag }}
<div class="newsletter-wrapper">
  <img loading="lazy" src="{{ 'newsletter.png' | asset_url }}">
    <h4>Najnowsze produkty i specjalne promocje</h4>
    <h1>Zapisz się do newslettera</h1>
    <div class="signup-wrapper">
        <input type="email" placeholder="TWÓJ ADRES E-MAIL">
        <h3>ZAPISZ SIĘ</h3>
    </div>
</div>
{% schema %}
{
    "name":"Newsletter",
    "presets":[{
        "name":"Newsletter",
        "category":"Newsletter"
    }]
}
{% endschema %}