
  {{ 'textimage.scss' | asset_url | stylesheet_tag }}
  
<div class="text-image-wrapper">  
    {% for block in section.blocks %}
    <div class="wrapper">
        {% if block.settings.background %}
                <img loading="lazy" src="{{ block.settings.background | image_url: height:500 }}">
            {% endif %}
        <div class="image-wrapper">
            <div class="text">
                {% if block.settings.tekst %}
                    <label>{{ block.settings.tekst }}</label>
                {% endif %}
            </div>
            <div class="link">
                {% if block.settings.add-button %}
                    <a href="#" class="more-button">ZOBACZ WIĘCEJ</a>
                {% endif %} 
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% schema %}
{
    "name":"Image",
    "blocks":[{
        "name":"Text/Image",
        "type": "text",
        "limit":3,
        "settings":[{
            "label":"Zmień tło",
            "id":"background",
            "type":"image_picker"
        },
        {
            "label":"Dodaj tekst",
            "type":"text",
            "id":"tekst"  
        },
        {
            "label":"Dodaj przycisk",
            "type":"checkbox",
            "id":"add-button",
            "default":true
        }]
    }],
    "presets":[{
        "name":"Text/Image",
        "category":"text"
    }]
}
{% endschema %}