.container{
    margin: 40px 0 0 0;
    width: 100%;
}
.container h5{
    color: rgba(82, 125, 120, 0.5);
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 24px;
    font-weight: normal;
    text-align: center;
}
.see-more{
    margin: 50px 0;
    color: #527D78;
    letter-spacing: 3px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
}
.title-blog{
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: normal;
    color: #3D4D4C;
    text-align: center;
    text-transform: uppercase;
}
.label{
    margin: 12px 0 40px 0;
}
.blog-wrapper{
    position: relative;
    height: 436px;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    padding: 10px 20px 20px 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.blog-snaps > *{
    scroll-snap-align: start;
}
.blog-snaps{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 20px;
}
.blog-wrapper::-webkit-scrollbar{
	display: none;
}
.blog-wrapper{
	-ms-overflow-style: none;
	scrollbar-width: none; 
}
.post-inner-wrapper{
    height: 100%;
    width: 100%;
}
.post-img img{
    width: 300px;
    height: 215px;
    object-fit: cover;
}
.post{
    width: 300px;
    position: relative;
}
.post h2{
    margin:24px 0 24px 0;
    letter-spacing: 1px;
    line-height: 24px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #3D4D4C;
}
.post label{
    line-height: 22px;
    font-size: 12px;
    color: rgba(61, 77, 76, 0.75);
}
.post a{
    text-decoration: none;
}
.read-more{
    color: #3D4D4C;
    letter-spacing: 2px;
    font-size: 10px;
    margin: 25px 0 0 0;
    width: max-content;
    border-bottom: 1px solid #F3B4A7;
}

@media all and (min-width: 660px ){
    .post-img img{
        width: 372px;
        height: 239px;
        object-fit: cover;
    }
    .post{
        width: 372px;
    }
    .blog-wrapper{
        height: 636px;
    }
    .read-more{
        position: absolute;
    }
    
}   
@media all and (min-width: 1000px ){
    .post-img img{
        width: 372px;
        height: 239px;
        object-fit: cover;
    }
    .post{
        width: 372px;
    }
    .blog-wrapper{
        height: 636px;
        grid-auto-columns: 372px;
        gap: 136px;
    }
}   
@media all and (min-width: 1430px ){
    .post-img img{
        width: 372px;
        height: 239px;
        object-fit: cover;
    }
    .post{
        width: 372px;
    }
    .blog-wrapper{
        height: 636px;
        grid-auto-columns: 372px;
        gap: 136px;
        justify-content: center;
    }
}   