.collection-wrapper{
    margin: 0 20px;
    display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-flow: row;
    border-top: 1px solid #3D4D4C15;
    padding: 15px 0;
}
.product-tab{
    width: 160px;
    height: 310px;
    margin: 0 15px 25px 0;
}
.product-img{
    height: 210px;
    width: 160px;
    margin: 0 0 13px 0;
    background-color: #F8F5F4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img img{
    object-fit: cover;
    width: 160px;
}
.product-collection-title{
    color:#527D78;
    font-size: 12px;
    line-height: 24px;
    opacity: 0.5;
}
.product-title{
    color:#3D4D4C;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 0 0 6px;
    margin: 0 0 8px;
    border-bottom: 1px solid #F3B4A7;
}
.product-price{
    color: #527D78;
    font-size: 12px;
}
.product-price span{
    text-decoration: line-through;
    color: #F3B4A7;
    padding-left: 25px;
}
.collection-pagination{
    display: flex;
    width: 100%;
    justify-content: center;
}
.collection-pagination a{
    text-decoration: none;
    color:#3D4D4C;
    font-weight: bold;
    font-size: 11px;
    padding: 0 5px 0 0;
}
.filters-categories-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60px;
    justify-content: center;
    align-items: center;
}
.filter{
    display: flex;
    grid-column: 1;
    border-right: 1px solid #3D4D4C15;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.category{
    display: flex;
    grid-column: 2;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.filter a,.category a{
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    color: #3D4D4C;
}
.listing{
    height: 200px;
    width: 100%;
    padding: 20px;
    display: none;
}
.showed{
    display: block;
}
.tags{
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
}
.tags input{
    margin: 0 10px 0 0;
    width: 15px;
}