.landing-news{
    padding: 60px 20px 10px;
    width: 100%;
}
.landing-news h2{
    padding: 0 0 10px;
    margin: 0 auto 45px;
    text-align: center;
    font-size: 18px;
    width: max-content;
    font-weight: normal;
    letter-spacing: 2px;
    color: #3D4D4C;
    border-bottom: 1px solid #F3B4A7;
}
.products-outer-wrapper{
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    display: grid;
    grid-auto-flow: column;
}
.products-outer-wrapper::-webkit-scrollbar{
	display: none;
}
.products-outer-wrapper{
	-ms-overflow-style: none;
	scrollbar-width: none; 
}
.wrap::-webkit-scrollbar{
	display: none;
}
.wrap{
	-ms-overflow-style: none;
	scrollbar-width: none; 
}
.snap-product{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 10px;
}
.snap-product > *{
    scroll-snap-align: start;
}
.products{
    height: auto;
}
.product-img{
    display: flex;
    height:450px;
    width: 300px;
    justify-content: center;
    align-items: center;
    background-color: #F8F5F4;
}
.wrap{
    display: flex;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    left: 0;
}
.products-inner-wrapper{
    height: 528px;
    padding: 0 20px 0 0;
}
.product-collection-title{
    color:#527D78;
    font-size: 12px;
    line-height: 24px;
    opacity: 0.5;
}
.product-title{
    color:#3D4D4C;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 0 0 6px;
    margin: 0 0 8px;
    border-bottom: 1px solid #F3B4A7;
}
.product-price{
    color: #527D78;
    font-size: 12px;
}
.scroll-left, .scroll-right{
    display: none;
}
@media all and (min-width: 700px){
    .products-inner-wrapper{
        height: 528px;
        padding: 0 20px;
    }
    .product-img{
        height:429px;
        width: 341px;
    }
    .products{
        width: 341px;
    }
}

@media all and (min-width: 1500px){
    .products-outer-wrapper{
        margin: 0 auto;
        max-width: calc(4*381px);
    }
    .landing-news{
        position: relative;
    }
}
@media all and (min-width: 1730px){
    .products-outer-wrapper{
        position: relative;
    }
    .scroll-left{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 429px;
        width: 150px;
        position: absolute;
        left: -150px;
        z-index: 1;
    }
    .scroll-right{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 429px;
        width: 150px;
        position: absolute;
        right: -150px;
    }
}