.slider-wrapper{
    position: relative;
    height: 500px;
}
.slider{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    min-width: 375px;
    height: 500px;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: #F3F8F7;
}
.slider::-webkit-scrollbar{
    display: none;
}
.slider{
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
.snaps> * {
    scroll-snap-align: start;
}
.snaps {
    scroll-snap-type: inline mandatory;
}
.slider img{
    width: 100%;
    object-fit: cover;
}
.slider-dots{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #527D78;
}
.dots-wrapperr{
    margin: 24px 0 36px 0;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.dots-addon{
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.15),
		0px 0px 0px 3px (#527d7815)
}
.product-info-wrapper{
    padding: 0 20px 20px 20px;
}
.product-info-wrapper label{
    font-size: 12px;
    color: #527D78;
    letter-spacing: 1px;
    line-height: 24px;
    opacity: 0.5;
}
.product-info-wrapper h1{
    font-size: 18px;
    color: #3D4D4C;
    letter-spacing: 2px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: normal;
}
.product-info-wrapper h3{
    color: #527D78;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: normal;
    line-height: 32px;
    margin: 0 0 20px 0;
}
.general-info-wrapper{
    border-bottom: 1px solid #E2E5E4;
    width: 100%;
}

.border-img{
    border: 1px solid #527D78;
    border-radius: 4px;
}
.product-template, .product-size{
    margin: 24px 0 26px 0;
    font-size: 11px;
    letter-spacing: 2px;
    color: #3D4D4C;
}
.variants-inner{
    display: flex;
    gap: 10px;
}
.variants-inner img{
    width: 78px;
    height: 98px;
    border-radius: 4px;
}
select{
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-size: 11px;
    height: 44px;
    width: 100%;
    border: 1px solid #D8D8D8;
    margin: 0 0 36px 0;
}
.product-size-wrapper{
    border-bottom: 1px solid #E2E5E4;
}
.product-description{
    padding: 36px 0;
    font-size: 14px;
    color: rgba(61, 77, 76, 0.75);
}
#AddToCart{
    width: 100%;
    height: 44px;
    background-color: #F3B4A7;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1.7px;
    font-weight: bold;
    text-align: center;
    border: none;
    margin-bottom: 36px;
}
.quantity-label{
    font-size: 11px;
    letter-spacing: 2px;
    color: #3D4D4C;
    font-weight: normal;
    margin: 24px 0 26px 0;
}
.quantity-wrapper{
    display: flex;
    height: 44px;
    margin: 0 0 26px 0;
}
.minus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    border: none;
    background-color: #f3b4a780;
    cursor: pointer;
}
.plus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    border: none;
    background-color: #f3b4a780;
    cursor: pointer;
}
#Quantity{
    width: 235px;
    padding: 0 20px;
    text-align: center;
    height: 100%;
    border: none;
    background-color: #F3B4A740;
}
.additional-information{
    border-top: 1px solid #E2E5E4;
    border-bottom: 1px solid #E2E5E4;
    padding: 16px 0 17px 0;
    display: flex;
    height: 48px;
    width: 100%;
    position: relative;
}
.additional-information span{
    position: absolute;
    left: 0;
    font-size: 14px;
    color: #3D4D4C;
}
.symbol{
    height: 18px;
    width: 18px;
    right: 0;
    position: absolute;
}
.vertical{
    position: absolute;
    left: 8px;
    width: 1px;
    height: 100%;
    background-color: #3D4D4C;
}
.horizontal{
    position: absolute;
    top: 8px;
    width: 100%;
    height: 1px;
    background-color: #3D4D4C;
}
.additional-information-content{
    display: none;
    font-size: 11px;
    color: rgba(61, 77, 76, 0.75);
}
.return-shipment{
    border-bottom: 1px solid #E2E5E4;
    padding: 16px 0 17px 0;
    display: flex;
    height: 48px;
    width: 100%;
    position: relative;
}
.return-shipment span{
    position: absolute;
    left: 0;
    font-size: 14px;
    color: #3D4D4C;
}
.return-shipment-content{
    display: none;
    font-size: 11px;
    color: rgba(61, 77, 76, 0.75);
}
.show{
    display: block;
    margin: 30px 0 0 0;
}
.drop{
    height: min-content;
}
.images-container{
    display: none;
}
@media all and (min-width: 1000px) {
    .dots-wrapperr{
        display: none;
    }
    .product-grid{
        display: grid;
        grid-template-columns: 1fr 80px 1fr;
        width: 1000px;
        margin: 36px auto;
    }
    .slider{
        display: none;
    }
    .slider-wrapper{
        grid-column: 1;
    }
    .product-info-wrapper{
        grid-column: 3;
    }
    .images-container{
        display: flex;
        align-items: center;
        position: relative;
    }
    .images{
        display: grid;
        grid-auto-flow: row;
        grid-column: 120px;
        height: 519px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .images::-webkit-scrollbar{
        display: none;
    }
    .images{
        -ms-overflow-style: none;
        scrollbar-width: none; 
    }
    .images img{
        height: 157px;
        width: 120px;
        object-fit: cover;
    }
    .main-image{
        width: 468px;
        height: 612px;
    }
    .main-image img{
        width: 468px;
        object-fit: cover;
        height: 612px;
    }
    .scroll-up{
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        width: 120px;
    }
    .scroll-down{
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        width: 120px;
    }

}
