.text-image-wrapper{
    margin: 60px 0 0 0;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    gap: 40px;
    overflow: hidden;
}
.wrapper{
    min-width: 375px;
    max-width: 508px;
    margin: 0 auto;
    min-height: max-content;
}
.wrapper img{
    width:100%;
    object-fit: cover;
}
.wrapper:nth-child(2){
    display: none;
}
.wrapper:nth-child(3){
    display: none;
}
.image-wrapper{
    position: relative;
    padding: 0 150px 0 50px;
}
.text-inner-wrapper{
    position: absolute;
    top: 310px;
    padding: 35px;
}
.text{
    position: absolute;
    bottom: 100px;
}
.text label{
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
    font-weight: lighter;
    color: white;
    text-transform: uppercase;
}
.link{
    position: absolute;
    bottom: 58px;
}
.more-button{
    font-size: 12px;
    letter-spacing:3px;
    padding: 15px 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    text-decoration: none;
}
@media all and (min-width: 768px){
    .wrapper{
        min-width: 322px;
        aspect-ratio: 1;
    }
    .wrapper:nth-child(2){
        display: block;
    }
}
@media all and (min-width: 1000px){
    .wrapper{
        min-width: 308px;
        aspect-ratio: 1;
    }
    .wrapper:nth-child(3){
        display: block;
    }
}
@media all and (min-width: 1590px){
    .text-image-wrapper{
       justify-content: center;
    }
}
